script(src="/lib/angular/angular.min.js")
script(src="/lib/angular-ui-router/release/angular-ui-router.min.js")
script(src="/lib/jquery/dist/jquery.min.js")
script(src="/lib/bootstrap/dist/js/bootstrap.min.js")
script(src="/js/main.js")
